@font-face {
  font-family: 'norse-bold';
  src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
        url('fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Arial, system-ui;
}

:root {
  --leaf-green: #596D48;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
}

.right-side {
  flex: 2;
}

.background {
  flex: 1;
  background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
}

.logo-background {
  background-color: black;
  opacity: .8;
  display: flex;
  align-items: center;
  margin-top: 150px;
}

h1 {
  font-family: "norse-bold";
}

.italics{ 
  font-style: italic;
}

input {
  display: block;
}

.form-row {
  display: flex;
}

a, button {
  color: white;
}

footer {
  margin-top: auto;
}

.bold {
  font-weight: bold;
}

.log-in {
  color: var(--leaf-green);
}

button {
  background-color: var(--leaf-green);
}