body {
  display: flex;
  height: 100vh;
}

.right-side {
  flex: 2;
}

.background {
  flex: 1;
}

.logo-background {
  background-color: black;
  opacity: .8;
  display: flex;
  align-items: center;
}

h1 {
  color: white;
}

.italics{ 
  font-style: italic;
}

input {
  display: block;
}

.form-row {
  display: flex;
}