@font-face {
  font-family: 'norse-bold';
  src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
        url('fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Arial, system-ui;
}

:root {
  --leaf-green: #596D48;
  --logo-height: 5rem;
  --right-margin: 20%;
  --left-margin: 5%;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
}

.right-side {
  flex: 2;
}

.background {
  flex: 1;
  background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
}

.logo-background {
  background-color: rgb(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

h1 {
  font-family: "norse-bold";
  font-size: var(--logo-height);
  margin: 10px 0px;
}

.logo {
  height: var(--logo-height);
}

.italics{ 
  font-style: italic;
}

a, button {
  color: white;
}

footer {
  margin-top: auto;
  font-size: 0.625rem;
  display: flex;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.log-in {
  color: var(--leaf-green);
  text-decoration: none;
}

button {
  background-color: var(--leaf-green);
}

.information,
.middle-right-box,
.bottom-right-box {
  padding-right: var(--right-margin);
  padding-left: var(--left-margin);
}

.information {
  margin-top: 100px;
}

.middle-right-box {
  box-shadow: 0px 1.5px 5px 0px rgb(0, 0, 0, 0.3);
}

h3 {
  padding: 12px 0;
  margin: 0;
}

label {
  font-size: 0.625rem;
  letter-spacing: 0.1em;
}

input {
  display: block;
  border-radius: 3px;
  border: solid 0.5px #E5E7EB;
}

.form-row {
  display: flex;
  padding-bottom: 12px;
}

#last-row {
  padding-bottom: 30px;
}

.label-input-pair {
  margin-right: 50px;
}

input[type]:focus {
  border: transparent 0.5px #E5E7EB;
  outline: solid 0.5px blue;
  box-shadow: 1px 1px 4px 0px rgb(0, 0, 0, 0.3);
}

input[type="password"]:invalid {
  border: transparent 0.5px #E5E7EB;
  outline: solid 0.5px red;
  background-color: pink;
}

.bottom-right-box {
  margin-top: 30px;
}

button {
  padding: 10px 60px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 10px;
}